body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #eef2f7;
  background: linear-gradient(135deg, #022641 0%, #051e31 100%);
}

/* Additional global elements like headings, links, etc. */
h2 {
  color: #333;
  text-align: center;
}